header.masthead .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .6;
    background-image: url('images/meredouce.jpg');
	height: 700px;
}

.masthead{
	  background-image: url('images/meredouce.jpg');
	  height: 600px;

}

.entete{
	margin-top: 200px;
}

.grille1{
	padding-bottom: 80px;
	padding-top: 80px;
}

.IconDesktop{
	color: #3592E4;
}

.IconLayer{
	color: #3592E4;
}

.IconCheck{
	color: #3592E4;
}


.grille3{
	padding-top: 100px;

}

.ImagIphone{
	background-image: url('images/iphoneLanding.png');
	height: 450px;
	
}

.ImagCode{
	background-image: url('images/CodeLanding.png');
	height: 450px;

}

.ImagJouet{
	background-image: url('images//JouetLanding.png');
	height: 450px;
	
}

.textBloc{
	padding: 100px;
}





.footer{
	margin-top: 100px;
	background-image: url('images/meredouce.jpg');  /*../images/meredouce.jpg*/
	height: 350px;


}

.textFooter{
	margin-top: 150px;
}

.buttonFooter{
	margin-bottom: 80px;
}

.lienBasdepage{
	margin-top: 50px;
}


.iconBasdepage{
	float: right;
	padding-bottom: 50px;
}